h1 {text-align: center;
}

#bandeira {
    border-style: dotted;width: 20%; margin-left: 40%;
}
h2 {
    text-align: center; background-color: rgba(183, 255, 189, 0.404);
margin-left: 40%; margin-right: 40%;
}
header {text-align: center; background-color: rgb(75, 74, 74); font-size: 160%;font-style: oblique; border-style: double;border-color: rgb(245, 225, 112); color: aliceblue;
}
ul {font-size: 63%; border-style: inset; border-color: chocolate; background-color: rgb(216, 137, 62);
}
#arapongasestrada {
    width: 40%; border-style: dotted;margin-left: 30%;
}