header {font-size: 180%;
font-style: oblique;
text-align: left;
border-style: double;
border-color: rgb(157, 165, 85);
text-align: center;
background-color: rgb(104, 122, 54);
color: azure;}

h1 {
    font-style: italic; background-color: rgba(139, 223, 157, 0.322); text-align: center;
}
#arapongas {
    border-style: dashed;background-color: rgb(21, 247, 171); width: 40%; margin-left: 28%;
}
h2 {text-align: center; background-color: rgba(183, 255, 189, 0.404);
margin-left: 40%; margin-right: 40%;}

h3 {text-align: center; background-color: rgba(183, 255, 189, 0.404);
margin-left: 40%; margin-right: 40%;}
#arvoremaringa { border-style: dashed;background-color: rgb(21, 247, 171); width: 190%; margin-left: 28%;}
